{% extends 'base_content.html' %} 
{% block title %} DashBoard {% endblock %} 
{% block content %}
<!-- MAIN CONTENT-->

<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/> -->

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid" style="min-height:100%">
            {% with messages = get_flashed_messages() %} 
              {% if messages %} 
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button> 
                  {{message}}
                </div>
                {% endfor %} 
              {% endif %} 
            {% endwith %}
          </div>
        <div class="tab-content">
            <form action="{{ url_for('dashboard')}}" method="get">
                <div class='row'>
                        <label class="bmd-label-floating col-1">Count</label>
                        <input type="text" name="count" class="form-control col-2"  value="" required>
                        <label class="bmd-label-floating col-1">Gender</label>
                        <input type="text" name="gender" class="form-control col-2" value="" required>
                        {% if fitter_year %}
                        <input type="text" name="year_id" class="form-control col-2" value="{{fitter_year}}" hidden>
                        {% endif %}
                    <button type="submit" class="btn btn-login float-right col-2" style="background-color:#4BD1A0;margin-left: 1rem">SUBMIT
                    </button>
                </div>
            </form>
            
            <div class="container-fluid">
                <div class="table-responsive table--no-card m-b-30">
                    {% if teachers %}
                    <table class="table table-hover">
                        <thead class="text-success">
                            <th>Mã Tổ</th>
                            <th>Tên Tổ</th>
                            <th>Số lượng giáo viên</th>
                        </thead>
                        <tbody>
                            {% for teacher in teachers %}
                            <tr>
                                <td>{{ teacher.Ma_to }}</td>
                                <td>{{ teacher.Ten_to }}</td>
                                <td>{{ teacher.So_luong_giao_vien }}</td>
                                <td>
                                    {% if fitter_gender %}
                                    <a href="/table/teacher?fitter=1&group_id={{teacher.Ma_to}}&gender={{fitter_gender}}">
                                        <button type="button" rel="tooltip" title="Edit" class="btn btn-success btn-simple btn-xs" >
                                            <i class="material-icons" style="color: purple;">edit</i>
                                        </button>
                                    </a>
                                    {% else %}
                                    <a href="/table/teacher?fitter=1&group_id={{teacher.Ma_to}}&gender=Male">
                                        <button type="button" rel="tooltip" title="Edit" class="btn btn-success btn-simple btn-xs" >
                                            <i class="material-icons" style="color: purple;">edit</i>
                                        </button>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p> NO DATA </p>
                    {% endif %}
                </div>
            </div>

            
        </div>

        <div class="tab-content">
                <form action="{{ url_for('dashboard')}}" method="get">
                    <div class='row'>
                        <label class="bmd-label-floating col-1">Year</label>
                        <input type="text" name="year_id" class="form-control col-2" value="" required>
                        {% if fitter_count %}
                        <input type="text" name="count" class="form-control col-2" value="{{fitter_count}}" hidden>
                        {% endif %}
                        {% if fitter_gender %}
                        <input type="text" name="gender" class="form-control col-2" value="{{fitter_gender}}" hidden>
                        {% endif %}
                        <button type="submit" class="btn btn-login float-right col-2" style="background-color:#4BD1A0;margin-left: 1rem">SUBMIT
                        </button>
                    </div>
                </form>
                
                <div class="container-fluid">
                    <div class="table-responsive table--no-card m-b-30">
                        {% if proc2s %}
                        <table class="table table-hover">
                            <thead class="text-success">
                                <th>Mã Lớp</th>
                                <th>Tên Lớp</th>
                                <th>Mã giáo viên</th>
                                <th>Tên giáo viên</th>
                                <th>Số lượng học sinh</th>
                            </thead>
                            <tbody>
                                {% for proc2 in proc2s %}
                                <tr>
                                    <td>{{ proc2.class_id }}</td>
                                    <td>{{ proc2.class_name }}</td>
                                    <td>{{ proc2.teacher_id }}</td>
                                    <td>{{ proc2.teacher_name }}</td>
                                    <td>{{ proc2.Number_of_students }}</td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p> NO DATA </p>
                        {% endif %}
                    </div>
                </div>
                
                
                </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

<!-- end document-->