{% extends 'base_content.html' %} 
{% block title %} Bảng {% endblock %} 
{% block content %}
<!-- MAIN CONTENT-->

<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/> -->

<script>
    function sendfitter() {
        var id = $('#fitter_id').val();
        var fullname = $('#fitter_name').val();
        var gender = $('#fitter_gender').val();
        var email = $('#fitter_email').val();
        var address = $('#fitter_address').val();
        var phonenumber = $('#fitter_phone').val();
        var identitycardnumber = $('#fitter_idcard').val();
        var birthdate1 = $('#fitter_birth1').val();
        var birthdate2 = $('#fitter_birth2').val();
        var group_id = $('#fitter_group_id').val();
        var queryString ="?fitter=1";
        if (id) queryString += '&id='+id;
        if (fullname) queryString += '&fullname='+fullname;
        if (gender) queryString += '&gender='+gender;
        if (email) queryString += '&email='+email;
        if (address) queryString += '&address='+address;
        if (phonenumber) queryString += '&phonenumber='+phonenumber;
        if (identitycardnumber) queryString += '&identitycardnumber='+identitycardnumber;
        if (birthdate1) queryString += '&birthdate1='+birthdate1;
        if (birthdate2) queryString += '&birthdate2='+birthdate2;
        if (group_id) queryString += '&group_id='+group_id;
        window.location.href = "/table/teacher"+queryString;
    }
</script>

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="tab-content">
        
            <div class="container-fluid">
                <div class="table-responsive table--no-card m-b-30">
                    {% if teachers %}
                    <table class="table table-hover">
                        <thead class="text-success">
                            <thead class="text-success">
                                <th><input type="text" id="fitter_id"></th>
                                <th><input type="text" id="fitter_name"></th>
                                <th><input type="text" id="fitter_gender"></th>
                                <th><input type="text" id="fitter_email"></th>
                                <th><input type="text" id="fitter_address"></th>
                                <th><input type="text" id="fitter_phone"></th>
                                <th><input type="text" id="fitter_idcard"></th>
                                <th><input type="text" id="fitter_birth1" style="border:1px solid black;" placeholder="from" >
                                    <input type="text" id="fitter_birth2" style="border:1px solid black;" placeholder="to" ></th>
                                <th><input type="text" id="fitter_group_id"></th>
                                <th>
                                    <button type="button" rel="tooltip" title="Fitter" class="btn btn-success btn-simple btn-xs" onclick="sendfitter()">
                                        <i class="material-icons" style="color: white;">Fitter</i>
                                    </button>
                                </th>
                                <th>    </th>
                            </thead>
                            <th>Teacher ID</th>
                            <th>Fullname</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Identitycardnumber</th>
                            <th>Birthdate</th>
                            <th>Group_id</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </thead>
                        <tbody>
                            {% for teacher in teachers %}
                            <tr>
                                <td>{{ teacher.id }}</td>
                                <td>{{ teacher.fullname }}</td>
                                <td>{{ teacher.gender }}</td>
                                <td>{{ teacher.email }}</td>
                                <td>{{ teacher.address }}</td>
                                <td>{{ teacher.phonenumber }}</td>
                                <td>{{ teacher.identitycardnumber }}</td>
                                <td>{{ teacher.birthdate }}</td>
                                <td>{{ teacher.group_id }}</td>
                                <td>
                                    <button type="button" rel="tooltip" title="Edit" class="btn btn-success btn-simple btn-xs" data-toggle="modal" data-target="#edit-teacher-{{teacher.id}}-modal">
                                        <i class="material-icons" style="color: purple;">edit</i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" rel="tooltip" title="Delete" class="btn btn-danger btn-simple btn-xs">
                                        <a href="{{ url_for('delete_teacher', id=teacher.id) }}">
                                            <i class="material-icons" style="color: white;">delete_forever</i>
                                        </a>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p> There are currently no teachers in the database. </p>
                    {% endif %}
                </div>
                <button class="btn" style="background-color: #ff9800;" data-toggle="modal" data-target="#add-teacher-modal">
                    Add Teacher
                </button>
            </div>

            <div role="tabpanel" class="tab-pane" id="subject-table">
                    <p>this is subject content</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="add-teacher-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Teacher</h4>
            </div>
            <div class="modal-body">
                <form class="login-form" action="{{ url_for('add_teacher')}}" method="post" style="padding-right: 30px !important; padding-left: 30px !important;">
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Id</label>
                            <input type="text" name="id" class="form-control" value="" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Full Name</label>
                            <input type="text" name="fullname" class="form-control" value="" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Gender</label>
                            <input type="text" name="gender" class="form-control" value="" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Email</label>
                            <input type="text" name="email" class="form-control" value="" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Address</label>
                            <input type="text" name="address" class="form-control" value="" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Phone</label>
                            <input type="text" name="phonenumber" class="form-control" value="" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Identitycardnumber</label>
                            <input type="text" name="identitycardnumber" class="form-control" value="" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Birthdate</label>
                            <input type="text" name="birthdate" class="form-control" value="" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Group id</label>
                            <input type="text" name="group_id" class="form-control" value="" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Username</label>
                            <input type="text" name="username" class="form-control" value="" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Password</label>
                            <input type="password" name="password" class="form-control" value="" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-login float-right" style="background-color:#4BD1A0;">SUBMIT
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color:#ef5350;">Close</button>
            </div>
        </div>
    </div>
</div>

{% if teachers %} 
{% for teacher in teachers %}
<div class="modal fade" id="edit-teacher-{{teacher.id}}-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit teacher</h4>
            </div>
            <div class="modal-body">
                <form class="login-form" action="{{ url_for('edit_teacher')}}" method="post" style="padding-right: 30px !important; padding-left: 30px !important;">
                    <!-- <div class="row"> -->
                    <div hidden>
                        <div class="form-group">
                            <label class="bmd-label-floating">Id</label>
                            <input type="text" name="id" class="form-control" value="{{teacher.id}}" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Full Name</label>
                            <input type="text" name="fullname" class="form-control" value="{{teacher.fullname}}" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Gender</label>
                            <input type="text" name="gender" class="form-control" value="{{teacher.gender}}" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Email</label>
                            <input type="text" name="email" class="form-control" value="{{teacher.email}}" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Address</label>
                            <input type="text" name="address" class="form-control" value="{{teacher.address}}" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Phone</label>
                            <input type="text" name="phonenumber" class="form-control" value="{{teacher.phonenumber}}" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Identitycardnumber</label>
                            <input type="text" name="identitycardnumber" class="form-control" value="{{teacher.identitycardnumber}}" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Birthdate</label>
                            <input type="text" name="birthdate" class="form-control" value="{{teacher.birthdate}}" required>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="bmd-label-floating">Group id</label>
                            <input type="text" name="group_id" class="form-control" value="{{teacher.group_id}}" required>
                        </div>
                    </div>

                    <!-- </div> -->

                    <button type="submit" class="btn btn-login float-right" style="background-color:#4BD1A0;">EDIT
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color:#ef5350;">Close</button>
            </div>
        </div>
    </div>
</div>

{% endfor %} 
{% endif %} 
{% endblock %}

<!-- end document-->